<script>
  class ShadowHost extends HTMLElement {
    constructor() {
      super();

      const frontElement = document.createElement('div');
      frontElement.dataset.front = '';
      frontElement.style.position = 'relative';
      frontElement.style.zIndex = '1';

      const shadow = this.attachShadow({ mode: 'open' });
      shadow.appendChild(frontElement);
    }
  }

  customElements.define('shadow-host', ShadowHost);
</script>

<shadow-host />
<div data-back></div>
